* {
  font-family: 'OPPOSans-Regular', sans-serif;
}

.cont {
  margin-top: 56px;
}

.bg-oppo {
  background-color: #046a38;
}

.btn-oppo {
  background-color: #046a38;
  color: white;
  transition: all 300ms;
}

.btn-oppo:hover {
  background-color: #079952;
  color: white;
}

header {
  height: 100vh;
}

.hero {
  width: 100%;
  max-width: 600px;
  height: 20rem;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}